.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
     
    padding: 10px;
    }
    .grid-item {
      
  
    }
    img{
      width: 150px;
      height: 150px;
    }
    .txt{
        color: var(--text-color);
    }